script#events(type='text/template')
    .events.container.text-center
        |<% _.each(collection, function(e) { %>
        .row
            .col-lg-12
                a(href!='https://www.facebook.com/events/<%= e.id %>')
                    |<%= e.name %>
                |&nbsp;<%= e.time %>
        |<% }); %>
