script#home(type='text/template')
    .home.container
        .row
            .col-lg-12.text-center

                h3
                    |Touring & Session Bassist
                    div
                        |NYC Based

                img.img-responsive.img-centered(src=imgDir + 'jeff.jpg')
                
                .contact
                    p
                        span.colon-label phone
                        a(href=contact.phone) 908-458-1110

                    p
                        span.colon-label email
                        a(href=contact.email) me@jeffbiegel.com
