.home {

    .contact {
        font-size: 22px;
        margin-top: 30px;

        a {
            color: white;
        }
    }
}

@media(max-width: 768px) {
    .home {
        .name {
            display: none;
        }
    }
}
