footer
    .container
        .row
            .col-lg-6
                iframe#soundcloud(width='100%' height='94' scrolling='no' frameborder='no' src='https://w.soundcloud.com/player/?url=http%3A%2F%2Fapi.soundcloud.com%2Fplaylists%2F78525001&auto_play=true&show_artwork=false&color=0066cc')
            .col-lg-6.social-links
                a.btn-social(href=contact.facebook)
                    i.fa.fa-facebook-square
                a.btn-social(href=contact.youtube)
                    i.fa.fa-youtube-square
                a.btn-social(href=contact.soundcloud)
                    i.fa.fa-soundcloud
                a.btn-social(href=contact.phone)
                    i.fa.fa-phone-square
                a.btn-social(href=contact.email)
                    i.fa.fa-envelope-o
