html(lang='en')
    head
        title!='Jeff Biegel &middot; Touring & Session Bassist &middot; NYC based'
        
        meta(charset='utf-8')
        meta(http-equiv='X-UA-Compatible', content='IE=edge')
        meta(name='viewport', content='width=device-width, initial-scale=1')
        meta(name='description', content='Jeff Biegel Touring & Session Bassist NYC based')
        meta(name='author', content='Jason Biegel' role='Developer')
        meta(name='author', content='Sarah Apicella' role='Designer')

        link(href=imgDir + 'favicon.ico', rel='shortcut icon', type='image/x-icon')
        link(href=imgDir + 'favicon.ico', rel='icon', type='image/x-icon')

        link(href='http://fonts.googleapis.com/css?family=Permanent+Marker|Rokkitt:400,700', rel='stylesheet', type='text/css')

        link(href='static/css/bundle.css', rel='stylesheet')

    body

        include navigation

        #content

        include footer
        
        //views
        include views/loading
        include views/home
        include views/photos
        include views/photos-error
        include views/videos
        include views/events
        include views/events-none
        include views/events-error
        include views/bio
        include views/bio-error
        
        script(src='https://w.soundcloud.com/player/api.js' type='text/javascript')
        script(src='static/js/bundle.js', type='text/javascript')
