nav.navbar.navbar-jeff
    .container-fluid
        .navbar-header
            button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#main-navbar')
                span.sr-only Toggle navigation         
                span.icon-bar         
                span.icon-bar      
                span.icon-bar       

        a.navbar-brand(href='#') Jeff Biegel
        
        #main-navbar.collapse.navbar-collapse.text-center
            ul.nav.navbar-nav.navbar-left
                li
                    a#photos-link(href='#photos') photos
                li
                    a#videos-link(href='#videos') videos

            ul.nav.navbar-nav.navbar-right
                li
                    a#events-link(href='#events') events
                li
                    a#bio-link(href='#bio') bio
