@import "constants";

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: @footer-height;
    background-color: @nav-background-color;
    padding: 30px 0;

    .social-links {
        font-size: 64px;
        
        .btn-social {
            color: @nav-font-color;
            margin: 10px 20px;
        }
    }
}

@media(max-width: 1199px) {
    footer {
        .social-links {
            margin-top: 24px;
        }
    }
}

@media(max-width: 560px) {
    footer {
        .social-links {
            font-size: 40px;

            .btn-social {
                margin: 10px 12px;
            }
        }
    }
}
