@import (inline) '../node_modules/bootstrap/dist/css/bootstrap.css';
@import (inline) '../node_modules/font-awesome/css/font-awesome.css';
@import (inline) '../node_modules/slick-carousel/slick/slick.css';
@import (inline) '../node_modules/slick-carousel/slick/slick-theme.css';

@import 'constants';

@import 'navigation';
@import 'footer';

@import 'views/home';
@import 'views/events';
@import 'views/video';
@import 'views/bio';
@import 'views/photos';

@font-face {
    font-family: 'Justice Light';
    src: url('../fonts/junction-light.eot'); /* IE9 Compat Modes */
    src: url('../fonts/junction-light.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/junction-light.woff') format('woff'), /* Pretty Modern Browsers */
         url('../fonts/junction-light.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/junction-light.svg#junctionlight') format('svg'); /* Legacy iOS */
}

html {
    position: relative;
    min-height: 100%;
    overflow-y: scroll;
    
    body {
        background-color: @background-color;
        color: white !important;
        font-family: 'Justice Light', serif;
        margin-bottom: @footer-height;
        
        .social-links {
            text-align: center;
        }

        .img-centered {
            margin: 0 auto;
        }

        .colon-label {
            margin-right: 8px;

            &::after {
                content: ":";
            }
        }

        #spinner {
            padding: 25px 50%;
        }
    }
}
