@import 'constants';

.navbar-jeff {
    font-size: 22px;
    background-color: @nav-background-color;    

    .navbar-header {
        
        .navbar-toggle {
            z-index: 1;
            border-color: @nav-font-color;

            .icon-bar {
                background-color: @nav-font-color;
            }
        }

    }

    .navbar-collapse {
        box-shadow: none;
        -web-kit-box-shadow: none;
    }

	.navbar-brand {
		position: absolute;
		width: 100%;
		left: 0;
		top: 0;
		text-align: center;
		margin: auto;
        margin-left: 0 !important;
        margin-top: 10px;
      	color: @nav-font-color;

        font-size: 40px;
  	}

    li {
        &:hover a {
            color: black;
        }

        a {
            color: @nav-font-color;

            &.active {
                color: white;
            }
        }
    }
}
